In [4]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
#import plot as plot

In [5]:
data = util.load_stock_data('../../data/yfinance_data/GOOG_historical_data.csv')

In [6]:
util.explore_data(data)

Shape of the data: (5020, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5020 entries, 0 to 5019
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        5020 non-null   object
 1   Date          5020 non-null   object
 2   Open          5020 non-null   float64
 3   High          5020 non-null   float64
 4   Low           5020 non-null   float64
 5   Close         5020 non-null   float64
 6   Adj Close     5020 non-null   float64
 7   Volume        5020 non-null   int64
 8   Dividends     5020 non-null   float64
 9   Stock Splits  5020 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 392.3+ KB
Info of the data: None

In [7]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,GOOG,2004-08-19,2.490664,2.591785,2.390042,2.499133,2.496292,897427216
1,GOOG,2004-08-20,2.515820,2.716817,2.503118,2.697639,2.694573,458857488
2,GOOG,2004-08-23,2.758411,2.826406,2.716070,2.724787,2.721690,366857939
3,GOOG,2004-08-24,2.770615,2.779581,2.579581,2.611960,2.608991,306396159
4,GOOG,2004-08-25,2.614201,2.689918,2.587302,2.640104,2.637103,184645512

In [8]:
util.index_by_date(data)
data.head()

,Ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2004-08-19,GOOG,2.490664,2.591785,2.390042,2.499133,2.496292,897427216
2004-08-20,GOOG,2.515820,2.716817,2.503118,2.697639,2.694573,458857488
2004-08-23,GOOG,2.758411,2.826406,2.716070,2.724787,2.721690,366857939
2004-08-24,GOOG,2.770615,2.779581,2.579581,2.611960,2.608991,306396159
2004-08-25,GOOG,2.614201,2.689918,2.587302,2.640104,2.637103,184645512

In [9]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,Ticker,Open,High,Low,Close,Adj Close,Volume,SMA,EMA,RSI
Date,,,,,,,,,,
2024-07-24,GOOG,175.389999,177.949997,173.570007,174.369995,174.369995,31250700,180.3948,178.946582,51.985783
2024-07-25,GOOG,174.250000,175.199997,169.050003,169.160004,169.160004,28967900,180.3600,178.562795,49.441405
2024-07-26,GOOG,168.770004,169.839996,165.865005,168.679993,168.679993,25150100,180.2950,178.175234,49.214950
2024-07-29,GOOG,170.500000,172.160004,169.720001,171.130005,171.130005,13768900,180.2400,177.898950,50.398209
2024-07-30,GOOG,171.830002,172.949997,170.119995,171.860001,171.860001,13681400,180.1686,177.662129,50.747109

In [10]:
#stock_indicators.calculate_financial_metrics(data)