In [6]:
import sys
sys.path.append('../../scripts')
import utils as util
import stock_indicators as stock_indicators
#import plot as plot

In [7]:
data = util.load_stock_data('../../data/yfinance_data/NVDA_historical_data.csv')

In [8]:
util.explore_data(data)

Shape of the data: (6421, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6421 entries, 0 to 6420
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ticker        6421 non-null   object
 1   Date          6421 non-null   object
 2   Open          6421 non-null   float64
 3   High          6421 non-null   float64
 4   Low           6421 non-null   float64
 5   Close         6421 non-null   float64
 6   Adj Close     6421 non-null   float64
 7   Volume        6421 non-null   int64
 8   Dividends     6421 non-null   float64
 9   Stock Splits  6421 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 501.8+ KB
Info of the data: None

In [9]:
data = data[['Ticker', 'Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']].copy()
data.head()

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,NVDA,1999-01-22,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1,NVDA,1999-01-25,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
2,NVDA,1999-01-26,0.045833,0.046745,0.041146,0.041797,0.038337,343200000
3,NVDA,1999-01-27,0.041927,0.042969,0.039583,0.041667,0.038218,244368000
4,NVDA,1999-01-28,0.041667,0.041927,0.041276,0.041536,0.038098,227520000

In [10]:
util.index_by_date(data)
data.head()

,Ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
1999-01-22,NVDA,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000
1999-01-25,NVDA,0.044271,0.045833,0.041016,0.045313,0.041562,510480000
1999-01-26,NVDA,0.045833,0.046745,0.041146,0.041797,0.038337,343200000
1999-01-27,NVDA,0.041927,0.042969,0.039583,0.041667,0.038218,244368000
1999-01-28,NVDA,0.041667,0.041927,0.041276,0.041536,0.038098,227520000

In [11]:
stock_indicators.calculate_technical_indicators(data)
data.tail(5)

,Ticker,Open,High,Low,Close,Adj Close,Volume,SMA,EMA,RSI
Date,,,,,,,,,,
2024-07-24,NVDA,119.169998,119.949997,113.440002,114.250000,114.250000,327776900,117.98118,116.821791,53.629925
2024-07-25,NVDA,113.040001,116.629997,106.300003,112.279999,112.279999,460067000,118.41880,116.643681,52.866852
2024-07-26,NVDA,116.190002,116.199997,111.580002,113.059998,113.059998,293399100,118.85288,116.503145,53.136252
2024-07-29,NVDA,113.690002,116.279999,111.300003,111.589996,111.589996,248152100,119.19208,116.310472,52.558539
2024-07-30,NVDA,111.519997,111.989998,102.540001,103.730003,103.730003,486833300,119.37950,115.817121,49.615367

In [12]:
#stock_indicators.calculate_financial_metrics(data)